<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% assign sidebar = site.data.sidebars[page.sidebar].entries[0] %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: {% if sidebar.accordion %} true {% else %} false {% endif %},
                openClass: 'active', // open
                save: true, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 0,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });
            {% if page.full_sidebar %}
            $("#mysidebar").navgoco('toggle', true);
            {% endif %}
        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

</head>
<body>
{% include topnav.html %}
{% if page.insert_promo %}
    <section id="promo" class="promo section offset-header">
        <div id="promotitle" class="container text-center">
            <div class="titlewrapper">
                <div class="circle">
                    <img src="images/inviwo-logo.png" height="150px" width="150px">
                </div>
                <h2 class="title" style="vertical-align:middle; padding-top:0px;">Inviwo</h2>
            </div>
            <p class="intro">Free configurable visualizations for scientific data.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" target="_blank" href="https://github.com/inviwo/inviwo/releases/latest">Download</a>
            </div>
        </div>
        <!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline social-icons">
                    <li><a class="no_icon" href="https://twitter.com/inviwo_org" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="no_icon" href="https://www.facebook.com/inviwo" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="no_icon" href="https://www.youtube.com/channel/UCsxhwNEcoqQtGkuMaA-L2IQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="no_icon" href="https://join.slack.com/t/inviwo/shared_invite/enQtNTc2Nzc2NDQwNzIxLTRiMWM1ZWJiYjljZjkwNWE3OTk3MzYxODZlMDUyMzRmZjUzMzBiZjVhNTM3NWUyNzU1MjI4OWJjMzdkODViMzM"><i class="fab fa-slack"></i></a></li>
                    <li><a class="no_icon" href="https://github.com/inviwo/inviwo#inviwo---interactive-visualization-workshop"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
{% endif %}
<!-- Page Content -->
<div class="container">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        {% unless page.hide_sidebar and page.sidebar == "none" %}
            <!-- Sidebar Column -->
            <div class="col-md-3" id="tg-sb-sidebar">
                {% include sidebar.html %}
            </div>
        {% endunless %}

        <!-- Content Column -->
        {% if page.hide_sidebar or page.sidebar == "none" %}
        <div class="col-md-12" id="tg-sb-content">
        {% else %}
        <div class="col-md-9" id="tg-sb-content">
        {% endif %}
            {{content}}
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /#main -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
